.my-post-item {
  list-style-type: none;
  width: 330px;
  height: 330px;
  margin-right: 25px;
  margin-bottom: 24px;
}

@media (max-width: 576px) {
  .my-post-item {
    width: 154px;
    height: 154px;
    margin-right: 3px;
    margin-bottom: 4px;
  }
}

.my-post-image {
  width: 100%;
  height: 330px;
}

@media (max-width: 576px) {
  .my-post-image {
    width: 100%;
    height: 150px;
  }
}
