.home-bg-container {
  background: #fafafa;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.home-dark-bg-container {
  background-color: #050505;
}

.slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media (max-width: 576px) {
  .slider-container {
    width: 80%;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.stories-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 32px;
  height: 100px;
}

.stories-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  height: 100px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.story-failure-image {
  width: 40px;
  margin-bottom: 16px;
}

.story-failure-text {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.story-try-again-button {
  padding: 4px 16px;
  border-radius: 8px;
  background: #4094ef;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 1040px;
}

.dark-post-container {
  background-color: #050505;
}

@media (max-width: 576px) {
  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #c6c6c8;
    width: 100%;
  }
}

.posts-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  height: 100vh;
}

.posts-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  height: 100vh;
}

.home-failure-image {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.home-failure-text {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.home-failure-try-again-button {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #4094ef;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

/*MOBILE SEARCH BG CONTAINER */

@media (max-width: 576px) {
  .mobile-search-results-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 100vh;
  }

  .mobile-search-icons-container {
    display: flex;
    align-items: center;
  }

  .mobile-search-view-icon {
    width: 54px;
    height: 36px;
    flex-shrink: 0;
    color: #dbdbdb;
    margin: 0px;
  }

  .star-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .star-icon-1 {
    width: 9px;
    height: 9px;
    flex-shrink: 0;
    color: #dbdbdb;
    margin-bottom: 2px;
  }

  .star-icon-2 {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin-left: 6px;
  }

  .mobile-search-description {
    color: #989898;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: -0.01px;
    margin-top: 16px;
    width: 284px;
  }
}
