.user-profile-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fafafa;
  min-height: 100vh;
}

.dark-user-profile-bg {
  background-color: #272727;
}

.my-profile-details-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .my-profile-details-container {
    display: none;
  }
}

/*----------------------NEWLY ADDED CODE ----------------- */

.user-profile-pic {
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .user-profile-pic {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
  }
}

.user-profile-details-container {
  margin-left: 64px;
}

.user-profile-user-name {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 24px;
}

.dark-user-profile-username {
  color: #ffffff;
}

.user-followers-count-container {
  display: flex;
  padding: 0px;
  margin-bottom: 16px;
}

.user-profile-items {
  margin-right: 48px;
}

.user-profile-post-follower-following {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.dark-mode-count-container {
  color: #fafafa;
}

.highlight-user-followers {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 8px;
}

.dark-user-profile-highlight {
  color: #ffffff;
}

.user-profile-user-id {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.dark-user-profile-user-id {
  color: #fafafa;
}
.user-profile-user-bio {
  width: 675px;
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.dark-user-profile-user-bio {
  color: #fafafa;
}

.user-profile-details-mobile-container {
  display: none;
}

@media (max-width: 576px) {
  .user-profile-details-mobile-container {
    width: 90%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .user-profile-mobile-details-container {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-bottom: 8px;
  }

  .user-profile-username-mobile {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 28px;
  }

  .user-followers-container-mobile {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .user-profile-mobile-post-followers-following {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
  }

  .user-mobile-followers,
  .user-mobile-post,
  .user-mobile-following {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #262626;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .user-profile-mobile-user-id {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .user-profile-mobile-user-bio {
    color: #262626;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

/*----------------------END ----------------- */

.my-followers-container-mobile {
  display: none;
  margin: 0px;
}

.my-profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

@media (max-width: 576px) {
  .my-profile-details-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    padding: 24px;
  }

  .my-followers-container-mobile {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    width: 100%;
    padding-left: 0px;
  }

  .mobile-post-followers-following {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-profile-image-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
  }

  .my-profile-pic {
    width: 96px;
    height: 96px;
  }
}

.my-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 64px;
}

li {
  list-style-type: none;
  padding: 0px;
}

.my-profile-username {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 24px;
}

.my-profile-username-mobile {
  display: none;
}

.my-followers-container {
  display: flex;
  align-items: center;
  padding: 0px;
}

.post-highlight {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.follower-following-posts {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 48px;
  margin-bottom: 16px;
}

.my-user-id {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.my-user-bio {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 576px) {
  .my-details-container {
    margin-left: 0px;
  }

  .my-profile-username {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .my-profile-username-mobile {
    display: flex;
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .my-followers-container {
    display: none;
  }

  .my-profile-username {
    display: none;
  }

  .mobile {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  .post-followers-following-mobile {
    color: #262626;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .my-user-id {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .my-user-bio {
    color: #262626;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}

.my-profile-stories-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin-bottom: 32px;
}

.my-story-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  margin-right: 32px;
  padding: 0px;
}

.my-profile-story {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .my-profile-stories-container {
    width: 100%;
    padding-left: 16px;
  }

  .my-story-image-container {
    width: 64px;
    height: 64px;
  }

  .my-profile-story {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.my-post-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #c6c6c8;
  padding-top: 32px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .my-post-bg-container {
    padding-left: 16px;
  }
}

.my-profile-posts-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.my-posts-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.post-college-icon {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.my-posts-heading {
  color: #262626;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.user-profile-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-profile-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-profile-failure-image {
  width: 400px;
  margin-bottom: 32px;
}

.user-profile-failure-description {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.user-profile-try-again-button {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #4094ef;
  border: none;
  outline: none;
  color: #ffffff;
  color: var(--Light-base-white, #fff);
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.user-profile-no-posts-view {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.user-no-posts-camera-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  height: 60vh;
  padding-top: 170px;
}

.user-camera-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  border-radius: 43px;
  border: 2px solid #262626;
  margin-bottom: 8px;
}

.user-camera-icon {
  width: 48px;
  height: 45px;
}

.user-no-posts-heading {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 150% */
}
