.comments-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.comment-user-name {
  color: #262626;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.07px;
  margin-right: 4px;
}

.dark-comment-username {
  color: #ffffff;
}

.comment-text {
  color: #262626;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.07px;
  padding-top: 4px;
}

.dark-comment {
  color: #acacac;
}

.user-name-link {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .comment-user-name {
    color: #262626;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.1px;
  }

  .comment-text {
    color: #262626;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07px;
  }
}
