* {
  box-sizing: border-box;
  margin: 0;
}

.header-bg-container {
  background-color: #ffffff;
}

.header-dark-bg-container {
  background-color: #141414;
}

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 59px;
  height: 30px;
  margin-right: 16px;
}

@media (max-width: 576px) {
  .logo {
    width: 55px;
    height: 28px;
  }
}

.mode-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-right: 16px;
  border-radius: 24px;
  border: 1px solid #989898;
  font-family: Roboto;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 0px;
  width: 50px;
  height: 28px;
}

.dark-mode-button {
  background-color: #050505;
}

.mode-icon {
  height: 20px;
  width: 20px;
}

.dark-mode {
  color: #ffffff;
  margin-left: 24px;
  border: none;
}

.light-mode {
  color: #262626;
  margin-left: 4px;
  padding: 0px;
}

.header-home-profile {
  background: none;
  border: none;
  outline: none;
}

.header-logo-name {
  color: #262626;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 576px) {
  .header-logo-name {
    color: #262626;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.dark-mode-header-logo-name {
  color: #ffffff;
}

.separator {
  height: 1px;
  border: 1px solid #dbdbdb;
}

.dark-mode-separator {
  border-color: gray;
}

@media (max-width: 576px) {
  .separator {
    display: none;
  }
}

.nav-items-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.mobile-nav-links {
  display: none;
}

@media (max-width: 576px) {
  .nav-items-container {
    display: none;
  }
  .mobile-nav-links {
    display: flex;
    cursor: pointer;
  }

  .mobile-options-links-container {
    display: flex;
  }
}

.list-item {
  list-style-type: none;
}

.search-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  margin-right: 33px;
}

.search-input {
  width: 214px;
  height: 28px;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 0px 16px;
  font-family: 'Roboto';
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dark-mode-input {
  background-color: #262626;
  color: #fafafa;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: #dbdbdb;
  height: 32px;
  width: 36px;
}

.search-button-dark-mode {
  background-color: #4e4e4e;
}

.search-icon {
  width: 18px;
  height: 18px;
  fill: #989898;
}

.links {
  text-decoration: none;
}

.nav-link {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.on-dark-mode-option {
  color: #ffffff;
}

.home-tab {
  color: #4094ef;
}

.profile-tab {
  color: #4094ef;
}

.user-profile {
  color: #262626;
  margin-left: 16px;
  margin-right: 32px;
}

.logout-button {
  background-color: #4094ef;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 24px;
}

.mobile-nav-items {
  display: none;
}

@media (max-width: 576px) {
  .mobile-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-top: 37px;
    padding-bottom: 55px;
    width: 100%;
  }

  .mobile-nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .mobile-nav-link {
    color: #262626;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .mobile-item {
    padding-right: 8px;
  }

  .mobile-search-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .close-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20%;
  }

  .hamburger-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .mobile-logout-button {
    padding: 6px 18px;
    border-radius: 4px;
    background: #4094ef;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.logo-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* MOBILE INPUT CONTAINER */
.mobile-input-container {
  display: none;
}
@media (max-width: 576px) {
  .mobile-input-container {
    display: flex;
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    margin-left: 24px;
    margin-top: 34px;
  }

  .mobile-close-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .mobile-input-search-bar {
    outline: none;
    border: none;
    width: 80%;
    padding-left: 12px;
    color: #262626;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .mobile-search-button {
    width: 60px;
    height: 32px;
    cursor: pointer;
  }

  .mobile-search-icon {
    width: 24px;
    height: 24px;
    color: #989898;
    margin-top: 6px;
    margin-left: 8px;
  }

  /* MOBILE DARK THEME */

  .mobile-dark-mode-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 50px;
    height: 24px;
    margin-right: 24px;
    border-radius: 24px;
    background: none;
    border: 1px solid #3e3e3e;
    padding: 0px;
    background-color: #fafafa;
    cursor: pointer;
    outline: none;
  }

  .mobile-dark-mode-button-bg {
    background: #050505;
    border-color: #bebebe;
  }

  .mobile-mode-icon {
    margin: 0px;
    height: 20px;
    width: 24px;
    color: #ffffff;
  }

  .mobile-dark-mode {
    color: #ffffff;
    margin-left: 23px;
  }

  .mobile-light-mode {
    color: #272727;
  }

  .mobile-ham-burger {
    color: #262626;
  }

  .dark-mode-mobile-logo-ham-burger {
    color: #ffffff;
  }

  ::placeholder {
    color: gray;
  }
}

.mobile-home-search-profile-dark-mode {
  color: #fefefe;
}

.mobile-search-input-dark {
  background-color: #262626;
  color: #f0f0f0;
  border-color: lightgray;
}
